@import '../../../scss/variables';

table {
  border: solid 1px black;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  overflow: auto;
  tbody tr {
      border: solid 1px black;
      padding: 10px;
      height: 38px;
      text-align: center;
      text-transform: capitalize;
  }
  button {
    background-color: $red;
    color: $white;
    border-radius: 4px;
  }
}