.user-hobbies-container {
    display: flex;
    justify-content: center;
    align-content: center;
    border: 1px solid black;
    margin: 0 40px;
    .users-column {
        flex: 1 0 0;
    }

    .hobbies-column {
        flex: 2 0 0;
        padding-left: 10px;
    }
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
}


@media screen and (max-width: 600px) {
    .user-hobbies-container {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}