@import '../../../scss/mixins';

.users-list {
    list-style-type: none;
    margin:0;
    padding: 0; 
    li {
        overflow: hidden;
        padding: 10px 5px;
        @include blackBorder(); 
      }
      
      li:hover {
        background: #ccc;
        cursor: pointer;
      }
      li.selected {
        background: #c2c2c2;
      }
      .user-title{
          text-align: center;
          margin: 0
      }
  }
 